@tailwind base;
@tailwind components;
@tailwind utilities;

footer {
    font-size: 14px;
  }
  

  .hero-block {
    background-color: #DCC1AB;
    color: black;
  }


  .offer-card{
    border-color: none;
    border-radius: 28px;
    background-color: white;
  }

  .green-underline {
    color: green;
    position: relative;
    text-decoration: none; 
    display: inline-block; 
  }

  .green-underline::after {
    content: ""; 
    position: absolute;
    left: 0;
    bottom: -3px; 
    width: 100%;
    height: 1px; 
    background-color: green;
  }
